language: node_js
dist: xenial
#services: mongodb
node_js: 10
before_script:
  - sudo mongod --replSet "rs0"
  - sleep 10
  - mongo --eval 'rs.initiate()'
  - sleep 5
script: npm run test
after_success: 'nyc report --reporter=text-lcov | coveralls'
